<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<main><!----------------------------MAIN------------------------------>


  <h3>Some unusual trips:</h3><br>
  <div class="travel_pictures">
    <div>
      <a class="img" href="#">
        <img class="img_travels" src="pictures/Pig_Beach_Bahamas%20.jpg" alt=""></a>
      <p>The Pig Beach <br>Bahamas</p>
    </div>
    <div>
      <a class="img" href="#">
        <img class="img_travels" src="pictures/Gibraltar_Monkey.jpg" alt=""></a>
      <p>Monkeys <br>Gibraltar</p>
      <!--- Photo de <a
     href="https://unsplash.com/pt-br/@fabians?utm_source=unsplash&utm_medium=referral&utm_content
     =creditCopyText">Fabian Schultz</a> sur <a href="https://unsplash
     .com/fr/photos/3Alkc49FPaM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
     ">Unsplash</a> -->
    </div>
  </div>


  <div class="com_form">
    <div class="com">
      <h3>They discovered our unusual adventures:</h3><br>
      <div class="com_user">
        <span>Mary:</span><br>
        <p>I'm so happy I booked this trip! It was really exciting to go off the beaten path and
           discover amazing new places. I definitely recommend this site for anyone looking for
           unique adventures.</p><br>
        <span>Benoit:</span><br>
        <p>I booked a solo trip with this site and I was surprised by how helpful their customer
           service was. They answered all of my questions and helped me plan a trip that was exactly
           what I was looking for. I couldn't be happier with my experience</p> <br>
        <span>Julie:</span><br>
        <p>If you're looking for a trip that's different from anything you've done before, you're in
           the right place. The itineraries are carefully planned to offer you truly unique and
           memorable experiences.</p> <br>
        <span>François:</span><br>
        <p>I'm an experienced traveler and I can say that this site offers some of the most unusual
           and exciting adventures I've ever had. If you want to get out of your comfort zone and
           explore amazing places, you should definitely book a trip with them.</p> <br>
        <span>Miguel:</span><br>
        <p>I had never done an unusual trip before, but I'm so glad I booked with this site. I met
           great people and saw things that I never could have imagined. It was an incredible
           experience and I can't wait to book my next trip with them.</p> <br>
      </div>
    </div>


    <div class="form">
      <form action="" method="post">
        <h3>You can leave a comment about your unusual trip:</h3><br>
        <fieldset>
          <legend><label for="name">Name</label></legend>
          <input type="text" id="name" name="name" placeholder="Name"><br>
        </fieldset>
        <fieldset>
          <legend><label for="name">Surname</label></legend>
          <input type="text" id="surname" name="surname" placeholder="Surname">
        </fieldset>
        <fieldset>
          <legend><label for="name">Email</label></legend>
          <input type="email" id="email" name="email" placeholder="Email">
        </fieldset>
        <fieldset>
          <legend><label for="name">Com</label></legend>
          <textarea id="com" name="com" cols="50" rows="10.5"></textarea>
        </fieldset>
      </form>
    </div>
  </div>




</main>



</body>
</html>