
<h1>* CRAZY TRIPS *</h1>
<div class="introductory_text">
    <p>Welcome to our website for unique travel experiences!&#128506; <br><br>Here, you won't find traditional
       destinations, but rather unusual and little-known places that will give you unique
       experiences.&#9992; <br><br>

       We invite you to discover fascinating cultures, breathtaking landscapes, and
       off-the-beaten-path adventures. We are convinced that our trips will allow you to push your
       limits and create unforgettable memories. <br><br>

       If you're looking for a trip that will take you out of your usual routine, you've come to the right place. We promise extraordinary adventures where you can completely immerse yourself in exceptional environments.</p>
</div>

<h3>Some unusual trips:</h3><br>
<div class="travel_pictures">
    <div>
        <a class="img" href="#">
            <img class="img_travels" src="../img/1/Pig_Beach_Bahamas .jpg" alt=""></a>
        <p>The Pig Beach <br>Bahamas</p>
    </div>
    <div>
        <a class="img" href="#">
            <img class="img_travels" src="../img/1/Gibraltar_Monkey.jpg" alt=""></a>
        <p>Monkeys <br>Gibraltar</p>
        <!--- Photo de <a
       href="https://unsplash.com/pt-br/@fabians?utm_source=unsplash&utm_medium=referral&utm_content
       =creditCopyText">Fabian Schultz</a> sur <a href="https://unsplash
       .com/fr/photos/3Alkc49FPaM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText
       ">Unsplash</a> -->
    </div>
</div>

</body>
</html>